* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  text-decoration: none;
}

:root {
  --morfiGreen: rgb(19, 209, 146);
  --morfiGray: rgb(122, 122, 122);
  --morfiWhite: #f1f1f1;
  --morfiBlackLight: rgba(35, 35, 35, 0.1);
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--morfiWhite);
  color:  white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.f30 {
  font-size: 25pt !important;
}

header {
  height: 500px;
  width: 100%;
  background-image: url(../img/fondoprincipal.jpg);
  background-position: bottom;
  background-size: cover;

  .portada {
      height: 70%;
      width: 100%;
      position: relative;
      background: linear-gradient(180deg, rgba(241, 241, 241, 0.068), rgba(0, 0, 0, 0.486));
  }

  .saludo {
      position: absolute;
      bottom: 25px;
      left: 5%;
  }
}

.categorias {
  height: 30%;
  width: 100%;
  background-color: var(--morfiWhite);
  padding: 35px;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  overflow-x: scroll;

  .btn_cat {
      height: 70px;
      flex: 0 0 100px;
      background-color: var(--morfiWhite);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1, 2em;
      color: rgb(119, 119, 119);

      span,
      i {
          font-size: 30px;
      }
  }

  a:link {
      color: var(--morfiGray);
  }

  a:visited {
      color: var(--morfiGreen);
  }

  a:hover {
      color: black;
  }

  a:active {
      text-shadow: 0px 0px 10px black;
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--morfiWhite);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--morfiWhite);
}

::-webkit-scrollbar-thumb:hover {
  background-color: aquamarine;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--morfiGreen);
}

.buscador {
  position: absolute;
  bottom: -20px;
  right: 5%;
  left: 5%;
  height: 40px;
  width: 90%;
  margin: auto;
  background-color: var(--morfiWhite);
  display: flex;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
  overflow: hidden;

  .icono {
      height: 100%;
      width: 40px;
      background-color: var(--morfiGreen);
      display: grid;
      place-items: center;

      i {
          font-size: 150%;
      }
  }

  input[type=search] {
      border: none;
      outline: none;
      padding: 2px;
      width: calc(100% - 80px);
      background-color: var(--morfiWhite);
      margin-left: 7px;
  }

  input[type=submit] {
      border: none;
      width: 40px;
      background-color: var(--morfiWhite);
      right: 0;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      color: rgb(56, 56, 56);
  }

  input[type=submit]:hover {
      transform: scale(120%);
  }
}

.flex {
  display: flex;
}

main {
  padding: 20px;

  section.productos {
      height: 600px auto;
      width: 100%;
      color: #1f1f1f;

      div.text {
          height: 30px;
          color: var(--morfiGray);
      }

      .resultado {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
      }


      article.restaurantes,
      a.restaurantes1 {
          height: 130px;
          min-height: 130px;
          width: calc(50% - 5px);
          min-width: 350px;
          /* background-image: url(../img/restaurante/restaurante1.jpg); */
          background-position: left;
          background-size: cover;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
          border-radius: 10px 0 0 10px;

          div.img {
              height: 100%;
              width: 40%;
              position: relative;
              padding: 10px;

              div.distancia {
                  position: absolute;
                  right: 9px;
                  color: rgb(214, 214, 214);
              }

          }

          div.descripcion {
              height: 100%;
              width: 60%;
              background-color: var(--morfiWhite);
              border-radius: 0 0 0 15px;
              padding: 15px;
              position: relative;
              color: rgb(167, 167, 167);

              div {
                  margin-bottom: 5px;
              }

              div.nombre {
                  font-size: 100%;
                  margin-bottom: 10px;
              }

              div.datos {
                  font-size: 80%;
                  margin-bottom: 15px;
              }

              div.puntaje {
                  position: absolute;
                  height: 30px;
                  width: 30px;
                  top: -5px;
                  right: -5px;
                  background-color: var(--morfiGreen);
                  border-radius: 10px 0 10px 0;
                  display: grid;
                  place-items: center;
                  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
                  color: white;
                  font-size: 12px;
              }
          }
      }


      article.restaurantes,
      a.restaurantes2 {
          height: 130px;
          min-height: 130px;
          width: calc(50% - 5px);
          min-width: 350px;
          background-image: url(../img/restaurante/restaurante2.jpg);
          background-position: left;
          background-size: cover;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
          border-radius: 10px 0 0 10px;

          div.img {
              height: 100%;
              width: 40%;
              position: relative;
              padding: 10px;

              div.distancia {
                  position: absolute;
                  right: 9px;
                  color: rgb(214, 214, 214);
              }

          }

          div.descripcion {
              height: 100%;
              width: 60%;
              background-color: var(--morfiWhite);
              border-radius: 0 0 0 15px;
              padding: 15px;
              position: relative;
              color: rgb(167, 167, 167);

              div {
                  margin-bottom: 5px;
              }

              div.nombre {
                  font-size: 100%;
                  margin-bottom: 10px;
              }

              div.datos {
                  font-size: 80%;
                  margin-bottom: 15px;
              }

              div.puntaje {
                  position: absolute;
                  height: 30px;
                  width: 30px;
                  top: -5px;
                  right: -5px;
                  background-color: var(--morfiGreen);
                  border-radius: 10px 0 10px 0;
                  display: grid;
                  place-items: center;
                  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
                  color: white;
                  font-size: 12px;
              }
          }
      }


      article.restaurantes,
      a.restaurantes3 {
          height: 130px;
          min-height: 130px;
          width: calc(50% - 5px);
          min-width: 350px;
          background-image: url(../img/restaurante/restaurante3.jpg);
          background-position: left;
          background-size: cover;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
          border-radius: 10px 0 0 10px;

          div.img {
              height: 100%;
              width: 40%;
              position: relative;
              padding: 10px;

              div.distancia {
                  position: absolute;
                  right: 9px;
                  color: rgb(214, 214, 214);
              }

          }

          div.descripcion {
              height: 100%;
              width: 60%;
              background-color: var(--morfiWhite);
              border-radius: 0 0 0 15px;
              padding: 15px;
              position: relative;
              color: rgb(167, 167, 167);

              div {
                  margin-bottom: 5px;
              }

              div.nombre {
                  font-size: 100%;
                  margin-bottom: 10px;
              }

              div.datos {
                  font-size: 80%;
                  margin-bottom: 15px;
              }

              div.puntaje {
                  position: absolute;
                  height: 30px;
                  width: 30px;
                  top: -5px;
                  right: -5px;
                  background-color: var(--morfiGreen);
                  border-radius: 10px 0 10px 0;
                  display: grid;
                  place-items: center;
                  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
                  color: white;
                  font-size: 12px;
              }
          }
      }


      article.restaurantes,
      a.restaurantes4 {
          height: 130px;
          min-height: 130px;
          width: calc(50% - 5px);
          min-width: 350px;
          background-image: url(../img/restaurante/restaurante4.jpg);
          background-position: left;
          background-size: cover;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
          border-radius: 10px 0 0 10px;

          div.img {
              height: 100%;
              width: 40%;
              position: relative;
              padding: 10px;

              div.distancia {
                  position: absolute;
                  right: 9px;
                  color: rgb(214, 214, 214);
              }

          }

          div.descripcion {
              height: 100%;
              width: 60%;
              background-color: var(--morfiWhite);
              border-radius: 0 0 0 15px;
              padding: 15px;
              position: relative;
              color: rgb(167, 167, 167);

              div {
                  margin-bottom: 5px;
              }

              div.nombre {
                  font-size: 100%;
                  margin-bottom: 10px;
              }

              div.datos {
                  font-size: 80%;
                  margin-bottom: 15px;
              }

              div.puntaje {
                  position: absolute;
                  height: 30px;
                  width: 30px;
                  top: -5px;
                  right: -5px;
                  background-color: var(--morfiGreen);
                  border-radius: 10px 0 10px 0;
                  display: grid;
                  place-items: center;
                  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
                  color: white;
                  font-size: 12px;
              }
          }
      }


      article.restaurantes,
      a.restaurantes5 {
          height: 130px;
          min-height: 130px;
          width: calc(50% - 5px);
          min-width: 350px;
          background-image: url(../img/restaurantes/restaurante5.jpg);
          background-position: left;
          background-size: cover;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
          border-radius: 10px 0 0 10px;

          div.img {
              height: 100%;
              width: 40%;
              position: relative;
              padding: 10px;

              div.distancia {
                  position: absolute;
                  right: 9px;
                  color: rgb(214, 214, 214);
              }

          }

          div.descripcion {
              height: 100%;
              width: 60%;
              background-color: var(--morfiWhite);
              border-radius: 0 0 0 15px;
              padding: 15px;
              position: relative;
              color: rgb(167, 167, 167);

              div {
                  margin-bottom: 5px;
              }

              div.nombre {
                  font-size: 100%;
                  margin-bottom: 10px;
              }

              div.datos {
                  font-size: 80%;
                  margin-bottom: 15px;
              }

              div.puntaje {
                  position: absolute;
                  height: 30px;
                  width: 30px;
                  top: -5px;
                  right: -5px;
                  background-color: var(--morfiGreen);
                  border-radius: 10px 0 10px 0;
                  display: grid;
                  place-items: center;
                  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
                  color: white;
                  font-size: 12px;
              }
          }
      }


      article.restaurantes,
      a.restaurantes6 {
          height: 130px;
          min-height: 130px;
          width: calc(50% - 5px);
          min-width: 350px;
          background-image: url(../img/restaurantes/restaurante6.jpg);
          background-position: left;
          background-size: cover;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
          border-radius: 10px 0 0 10px;

          div.img {
              height: 100%;
              width: 40%;
              position: relative;
              padding: 10px;

              div.distancia {
                  position: absolute;
                  right: 9px;
                  color: rgb(214, 214, 214);
              }

          }

          div.descripcion {
              height: 100%;
              width: 60%;
              background-color: var(--morfiWhite);
              border-radius: 0 0 0 15px;
              padding: 15px;
              position: relative;
              color: rgb(167, 167, 167);

              div {
                  margin-bottom: 5px;
              }

              div.nombre {
                  font-size: 100%;
                  margin-bottom: 10px;
              }

              div.datos {
                  font-size: 80%;
                  margin-bottom: 15px;
              }

              div.puntaje {
                  position: absolute;
                  height: 30px;
                  width: 30px;
                  top: -5px;
                  right: -5px;
                  background-color: var(--morfiGreen);
                  border-radius: 10px 0 10px 0;
                  display: grid;
                  place-items: center;
                  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.300);
                  color: white;
                  font-size: 12px;
              }
          }
      }

  }
}