header{
  height:55%;
  width:100%;
  background-image: url(../img/MorfiHub-comida.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  section.portada{
    height:100%;
    width:100%;
    background: linear-gradient(180deg,rgba(241, 241, 241, 0.05),rgba(241, 241, 241, 0),#f1f1f1);
  }
  section.title{
    padding:0 160px 0 5%;
    position: relative;
    gap:5%;
    h1#food-name{
      color:black;
    }
    #food-price{
      position: absolute;
      right: 5%;
      height:60px;
      width:120px;
      background-color:var(--morfiGreen);
      border-radius: 10px 0 10px 0;
      display: grid;
      place-items: center;
      box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
      color:white;
      font-size: 22px;
      margin-right: 10px;
    }
  }
}
main{
  height:35%;
  width:100%;
  padding:4%;
  padding-top:85px;
  color:rgb(119, 119, 119);
  section.food-desc{
    height:50%;
  }
  section.add-note{
    display:flex;
    height:50%;
    width:100%;
    /* padding:0 0 90px 0; */
    align-items:flex-end;
    input[type= "text"]{
      display:flex;
      text-align:center;
      background:none;
      outline:none;
      border:none;
      font-weight:400;
      width:100%;
      padding:0 0 5px 0;
      border-bottom:1px solid var(--morfiGray);
    }
  }
}
.center{
  display: grid;
  place-items: center;
}
footer{
  position:absolute;
  bottom:0;
  width:100%;
  gap:5px;
  padding:15px;
  font-size:120%;
  flex-direction: column;
  div.flex{
    height:50px;
    width: 100%;
  }
  .food-count{
    height: 100%;
    width: 25%;
    min-width:120px;
    background-color:var(--morfiGreen);
    color:white;
    display:flex;
    justify-content: space-between;
    padding:0 20px 0 20px;
    .icons{
      color:white;
      border:0;
      background:none;
      cursor: pointer;
    }
    .icons:hover{
      background-color:rgba(35, 35, 35, 0.1);
      border-radius: 50%;
      box-shadow:0 0 4px 4px rgba(35, 35, 35, 0.1);
    }
  }
  .food-addToCart{
    height: 100%;
    width: 75%;
    min-width:150px;
    background-color:var(--morfiGreen);
    border:0px;
    color:white;
    text-transform:uppercase;
    cursor: pointer;
  }
  .food-addToCart:hover{
    box-shadow:0 0 4px 4px rgba(35, 35, 35, 0.1);
    font-weight:700;
  }
  span.puntoResto{
    justify-content:center;
    background-color:var(--morfiGreen);
    height:fit-content;
    max-height:60px;
    color:black;
    width:100%;
    padding:5px;
  }
}