header{
    height:45%;
    width:100%;
    section.portada{
      height:100%;
      position:relative;
    }
    section.portada::after{
      content:'';
      position:absolute;
      height:100%;
      width:100%;
      background: linear-gradient(180deg,rgba(7, 7, 7, 0.05),rgba(7, 7, 7, 0),rgba(22, 22, 22, 0.2));
    }
  }
  main.details{
    position:relative;
    section{
      color:var(--morfiGray);
      .resto-title{
        height: 20%;
        width: 100%;
        background-color: var(--morfiWhite);
        h1{
          color:black;
          width:80%;
        }
        h4{
          color:var(--morfiGray);
        }
      }
      .resto-price{
        color:black;
        width:20%;
        min-width:74px;
        font-size:5px;
        .selected{
          color:var(--morfiGreen);
        }
      }
      .resto-puntaje{
        position: absolute;
        top:-30px;
        right:15px;
        height:60px;
        width:70px;
        background-color:var(--morfiGreen);
        border-radius: 10px 0 10px 0;
        display: grid;
        place-items: center;
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
        font-size: 22px;
        margin-right: 10px;
      }
      ul{
        justify-content:space-around;
        overflow-x:hidden;
        padding:10px 0 0 0;
      }
      p{
        padding:10px 20px 20px 10px;
      }
    }
  }
  main.menu{
    padding:0;
    position:relative;
    section{
      width:100%;
      color:black;
    }
    section.resto-close{
      height:60px;
      box-shadow: 5px 10px 50px 0px rgba(0, 0, 0, 0.1);
      position:sticky;
      background-color:rgba(255, 255, 255, 0.5);
      backdrop-filter:blur(10px);
      z-index:10;
      top:0;
      .icons{
        position:absolute;
        left:15px;
      }
      a:hover{
        background-color:var(--morfiBlackLight);
        border-radius:50%;
        box-shadow:0 0 4px 4px var(--morfiBlackLight);
      }
    }
    #options{
      padding:5% 5% 75px 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      z-index:1;
      gap:20px;
      .card{
        height:100px;
        max-width:400px;
        min-width:300px;
        .card-img{
          height:100%;
          width:30%;
          background-image:url(../img/platos/plato2.jpg);
          background-size: cover;
          background-position:center;
          position: relative;
          .card-price{
            position: absolute;
            bottom:15%;
            right:-5px;
            padding:5px;
            height:fit-content;
            width:fit-content;
            background-color:var(--morfiGreen);
            border-radius: 10px 0 10px 0;
            display: grid;
            place-items: center;
            box-shadow: 3px 3px 7px rgba(35, 35, 35, 0.5);
            font-size: 13px;
            margin-right: 10px; 
            background-color:var(--morfiGreen);
            color:white;
          }
        }
        .plato2{
          background-image:url(../img/platos/plato3.jpg);
        }
        .plato3{
          background-image:url(../img/platos/plato4.jpg);
        }
        .plato4{
          background-image:url(../img/platos/plato5.jpg);
        }
        .card-info{
          height:100%;
          width:70%;
          h3{
            height:50%;
            width:100%;
            padding-left:15px;
            display: flex;
            align-items: center;
            font-weight: 200;
          }
          .card-name{
            color:black;
          }
          .card-desc{
            color:var(--morfiGray);
          }
        }
      }
    }
  }
  main.reviews{
    section.options{
      .card{
        .card-img{
          border-radius: 50%;
          .card-stars{
            position: absolute;
            bottom:15%;
            right:-5px;
            padding:5px;
            height:fit-content;
            width:fit-content;
            background-color:var(--morfiGreen);
            border-radius: 10px 0 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 3px 3px 7px rgba(35, 35, 35, 0.5);
            font-size: 13px;
            margin-right: 10px; 
            background-color:var(--morfiGreen);
            color:white;
            i.icons{
              padding-left:3px;
              font-size: 14px;
            }
          }
        }
        .user1{
          background-image:url(../img/user/1.jpg);
        }
        .user2{
          background-image:url(../img/user/2.jpg);
        }
        .user3{
          background-image:url(../img/user/3.jpg);
        }
        .card-info{
          .card-desc{
            color:var(--morfiGray);
            font-size: 90%;
          }
        }
      }
    }
  }
  nav{
    background-color:white;
    width:100%;
    height:60px;
    position:fixed;
    bottom:0;
    box-shadow: 0px 100px 1px 100px rgba(0, 0, 0, 0.2);
    gap:2px;
    a{
      flex: 0 0 33.33%;
      height:100%;
      border:0;
      background-color:transparent;
      cursor:pointer;
      font-size: 105%;
      color:var(--morfiGray);
      text-transform:uppercase;
      font-weight: 600;
    }
    a:hover,a.actual{
      color:black;
    }
    a:hover{
      background-color: rgba(19, 209, 146, 0.07);
    }
    a.actual{
      border-top:3px solid var(--morfiGreen);
      background-color: rgba(19, 209, 146, 0.1);
      font-weight:700;
    }
    /* button{
      flex: 0 0 33.33%;
      border:0;
      background-color:transparent!important;
      cursor:pointer;
      font-size: 105%;
      color:var(--morfiGray);
      text-transform:uppercase;
    }
    button:hover{
      border-top:3px solid var(--morfiGreen);
      color:black;
    }
    button.actual{
      border-top:3px solid var(--morfiGreen);
      color:black;
    } */
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }