@import url('https://fonts.googleapis.com/css?family=Basic:700|Basic:400');


:root,
:root.light {
    --text: #05111f;
    --background: #e5f1fa;
    --primary: #164b83;
    --secondary: #bf6fe7;
    --accent: #da25d1;
}

/* Modo oscuro manual */
  :root.dark {
    --text: #e0ecfa;
    --background: #05111a;
    --primary: #7cb1e9;
    --secondary: #681890;
    --accent: #da25d1;
}

/* use the variables */
body {
    color: var(--text);
    background-color: var(--background);
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Basic';
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}


/* Modo oscuro automatico */
/* ❗️ mantiene las reglas en la sincronización manual de modo oscuro! */
@media (prefers-color-scheme: dark) {
    :root {
        --text: #e0ecfa;
        --background: #05111a;
        --primary: #7cb1e9;
        --secondary: #681890;
        --accent: #da25d1;
    }
}